{% load static %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Homepage do Sistema VigIA</title>
		<link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
	</head>
	<body>
		<header>
			<div class="left">
				<img src="{% static '/assets/camera1.png' %}" width="100">
			</div>
			<div class="center">
				<h1 class="tituloPcp">VigIA</h1>
				<h2 class="subtituloPcp">O seu identificador de eventos</h2>
			</div>
			<div class="right">
				<img src="{% static '/assets/camera2.png' %}" width="110">
			</div>
		</header>
		{% block header %}
		<nav>
			<ul>
				<a href="{% url 'index' %}">Página Principal | </a>
				<a href="{% url 'sobre' %}">Sobre | </a>
				<a href="{% url 'ajuda' %}">Ajuda | </a>
				<a href="{% url 'contato' %}">Contato</a>
			</ul>
		</nav>
		{% endblock %}
		<main><!-- Corpo principal da página -->
			{% block content %}{% endblock %}
				
			</article>
		</main>
		<footer><!-- Rodapé da página -->
			<p>Projeto da Disciplina de Engenharia de Software/UNIFESP - Grupo B</p>
		</footer>
	</body>
</html>