{% extends 'base.html' %}

{% block content %}
<article>
    <h2>Criar Novo Usuário</h2>
    <form method="post" action="{% url 'criarUsuario' %}">
        {% csrf_token %}
        
        {{ form.username.label_tag }}
        {{ form.username }}
        <br>
        <br>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        <br>
		<br>
		{{ form.password2.label_tag }}
        {{ form.password2 }}
        <br>
        <br>
        {{ form.nome.label_tag }}
        {{ form.nome }}
        <br>
        <br>
        {{ form.perfil.label_tag }}
        {{ form.perfil }}
        <br>
        <br>
        <button type="submit">Criar Usuário</button>
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if form.errors %}
            <ul class="errorlist">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </form>
</article>
{% endblock %}
