{% extends "base.html" %}
{% block header %}
		<nav>
			<ul>
				<a href="{% url 'index' %}">Página Principal | </a>
				<a>Sobre | </a>
				<a href="{% url 'ajuda' %}">Ajuda | </a>
				<a href="{% url 'contato' %}">Contato</a>
			</ul>
		</nav>
{% endblock %}

{% block content %} 
	<article>
		<p>
			Este é um projeto para a Disciplina de Engenharia de Software da Universidade Federal de São Paulo. Após realizar o upload do seu vídeo, uma Inteligência Artificial anlisará o vídeo, identificando diversos eventos e objetos em cena. A partir dessa análise, os TimeStamps de cada eventos são gerados e disponibilizados para o usuários. Com os TimeStamps em mãos, você poderá fazer buscas por tags específicas ou ver todos os eventos.

		</p>
	</article>
	<script src="scripts/scriptSobre.js"></script>
{% endblock %}