{% extends 'base.html' %}

{% block content %}
<article>

    <div class="forms">
        {% if not user.is_authenticated %}
        <form method="post" action="{% url 'viewLogin' %}">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="password" required><br>

            <button type="submit">Login</button>
        </form>
        
        <p>Não tem uma conta? <a href="{% url 'criarUsuario' %}">Crie uma agora</a>.</p>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% else %}
        <meta http-equiv="refresh" content="0;url={% url 'home' %}">
        <title>Redirecionando...</title>
        </p>
        {% endif %}
    </div>
</article>
{% endblock %}
