{% extends 'base.html' %}
{% load static %}
{% block content %}
<article>

    <div class="forms" id="input_form">
        <h1>Login</h1>
        <hr>
        {% if not user.is_authenticated %}
        <form class="login_form" method="post" action="{% url 'viewLogin' %}">
            {% csrf_token %}

            <input class ="login_input" type="text" name="username" placeholder="Username" required><br>
            <input class ="login_input" type="password" name="password" placeholder="Password" required><br>

            <button type="submit" id="login_button">Login</button>
        </form>
        
        <p style="padding:2%;">Não tem uma conta? <a href="{% url 'criarUsuario' %}">Crie uma agora</a>.</p>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% else %}
        <meta http-equiv="refresh" content="0;url={% url 'home' %}">
        <title>Redirecionando...</title>
        </p>
        {% endif %}
    </div>
</article>
{% endblock %}
